.movie-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  max-width: 350px;
  margin-top: 2rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-container:hover {
  transform: scale(1.03);
  text-decoration: underline;
}

.movie-container div img {
  max-width: 100%;
}

.poster-container {
  width: 220px;
  height: 330px;
  overflow: hidden; 
  border-radius: 3%;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: fill; 
  border-radius: 3%;
  transition: transform 0.3s ease;
}


.movie-name-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  margin-bottom: -18px;
}
.movie-name {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 140px;
  padding-right: 2px;
}

.movie-rate {
  color: #F6884A;
  margin-left: 10px;
}

.bi-star-fill {
  color: #F6884A!important;
  font-size: 1rem!important;
}

.movie-year-categories {
  display: flex;
  align-items: center;
  padding-left: 2px;
  color: #97D4F1;
}

.movie-year {
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 5px;
}

.movie-categories {
  font-size: 0.8rem;
  font-weight: 400;
}